rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // every user can only read/write his own /users/{uid}/...
    match /users/{uid}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid; // only logged in users
    }

    // lock everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}